@font-face {
    font-family: "Red Hat Display";
    src: url("../Fonts/RedHatDisplay-VariableFont_wght.ttf");
}

* {
    user-select: none;
    outline: none !important;
}

.assignder {
    background: linear-gradient(90deg, #5668e1 0%, #d54241 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

html,
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: "Red Hat Display", serif !important;
    font-size: 18px;
    font-weight: 500;
    height: 100vh;
    overflow: hidden;
}

header[role="app-region"] {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 36px;
    -webkit-app-region: drag;
}

.esc-region {
    -webkit-app-region: no-drag !important;
}

main[role="body-container"] {
    position: relative;
    top: 30px;
    height: 100%;
}

.image-wrapper {
    display: flex;
}

input[check="error"] {
    animation: shake 0.3s ease-in-out;
}

.buttons-holder {
    display: flex;
}

.chart-container {
    margin-top: 8px;
}

.chart-container:not(:empty
) *:first-child {
    margin-left: -2px;
}

.chart-container.disabled {
    pointer-events: none;
}

.chart-container *:not(.highcharts-grid-line) {
    stroke: none !important;
}

.highcharts-grid-line {
    opacity: 0.1;
}

.chart-container * {
    background-color: none !important;
    background: none !important;
}

.assignment-block .highcharts-grid-line {
    opacity: 0;
}

@keyframes shake {
    0% {
        transform: translateX(0px);
    }

    33.33% {
        transform: translateX(-10px);
    }

    66.66% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0px);
    }
}

/* Sections */
/* Common */
section {
    display: flex;
    margin-bottom: 30px;
    height: calc(100% - 60px);
}

section.hidden > * {
    display: none;
}

/* application-signing */
section[featuring="loading-component"] {
    flex-direction: column;
    z-index: 1000;
    background: ;
    position: absolute;
    top: -30px;
    height: 100%;
    width: 100%;
    animation: cover 0.2s ease-out;
}

@keyframes cover {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

section[featuring="application-interface"] {
    display: grid;
    grid-template-columns: 66px 1fr;
    grid-template-rows: 1fr;
    position: relative;
    height: 100%;
    width: 100%;
    top: -30px;
    padding: 0px;
    gap: 12px;
}

/* Section elements */
/* Common */
div[role="form-wrapper"] {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 400px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    border-radius: 10px;
}

div[role="form-wrapper"] .buttons-holder {
    display: flex;
    flex-direction: row;
}

div[role="form-wrapper"] div[role="form"] {
    display: flex;
    width: 50%;
    min-width: 350px;
}

/* loading-component */
section[featuring="loading-component"] img {
    width: 10%;
    height: auto;
}

/* application-signing */
section[featuring="application-signup"] div .rounded-image .image-wrapper {
    cursor: pointer;
    position: relative;
}

section[featuring="application-signup"] div .rounded-image .image-wrapper * {
    display: block;
    position: absolute;
}

/* application-interface */
section[featuring="application-interface"] > nav ul {
    display: flex;
    flex-direction: column;
    height: 100%;
}

section[featuring="application-interface"] > nav ul li {
    display: flex;
    width: 100%;
    cursor: pointer;
    padding: 12px 0px;
}

section[featuring="application-interface"] > nav ul li svg {
    display: none;
}

section[featuring="application-interface"]
    > nav
    ul
    li[active="false"]
    svg:nth-child(1),
html.dark nav ul li[active="asTheme"] svg:nth-child(1) {
    display: block;
}

section[featuring="application-interface"]
    nav
    ul
    li[active="true"]
    svg:nth-child(2),
html:not(.dark) nav ul li[active="asTheme"] svg:nth-child(2) {
    display: block;
}

section[featuring="application-interface"] div[role="ui-content"] {
    grid-template-columns: 1fr;
    grid-template-rows: 64.5px 1fr;
    gap: 12px;
}

section[featuring="application-interface"]
    div[role="ui-content"]
    div[role="top-panel"] {
    padding-right: 150px;
}

section[featuring="application-interface"]
    div[role="ui-content"]
    div
    .buttons-holder
    button {
    display: flex;
    min-width: fit-content;
    width: 36px;
    height: 36px;
    padding: 0px;
}

section[featuring="application-interface"]
    div[role="ui-content"]
    div[role="body-holder"] {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: 1fr;
    height: 100%;
}

div[role="body-holder"] div[role="side-panel"] {
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding-right: 12px;
    padding-bottom: 12px;
}

div[role="body-holder"] div[role="side-panel"] .ui-component {
    width: 100%;
}

div[role="body-holder"] div[role="side-panel"] .ui-component:first-child {
    padding-top: 0px;
}

.page-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.page {
    display: flex;
    position: absolute;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding-bottom: 12px;
}

.page[role="alertify"] {
    flex-direction: column;
    gap: 12px;
}

input[type="range"][role="primary"] {
    background: linear-gradient(
        90deg,
        rgba(13, 110, 253, 1) 20%,
        rgba(13, 110, 253, 0.3) 20%
    );
}

#S4P1, #S4P4 {
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 12px;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

#S4P1 .assignment-block {
    --S4P1-width: 345px;
    height: 100%;
    max-height: calc(100% - 0px);
    width: calc((100vw - var(--S4P1-width)) / 1);
}

#S4P1 .assignment-block:nth-child(odd) {
    grid-row: 1 / 2;
}

#S4P1 .assignment-block:nth-child(even) {
    grid-row: 2 / 3;
}

@media (min-width: 1000px) {
    #S4P1 .assignment-block {
        --S4P1-width: 360px;
        width: calc((100vw - var(--S4P1-width)) / 2);
    }
}

@media (min-width: 2000px) {
    #S4P1 .assignment-block {
        --S4P1-width: 370px;
        width: calc((100vw - var(--S4P1-width)) / 3);
    }
}

#S4P1 .assignment-block .assignment-content {
    grid-template-rows: 1fr 35px;
}

.assignment-content [role="footer"] div:last-child {
    align-items: flex-start;
}

.assignment-block .count-down::before {
    content: "•";
    display: inline-block;
    padding: 0px 6px;
    position: relative;
    transform: scale(1.5);
}

.assignment-block .count-down span:not(:first-child) {
    padding-left: 6px;
}

.assignment-block[name="new-assignment"] {
    display: flex !important;
}

#S4P4 {
    grid-template-rows: repeat(3, 1fr);
}

#S4P4 .module-block {
    --S4P4-width: 345px;
    height: 100%;
    max-height: calc(100% - 0px);
    width: calc((100vw - var(--S4P4-width)) / 2);
}

#S4P4 .module-block:nth-child(odd) {
    grid-row: 1 / 2;
}

#S4P4 .module-block:nth-child(even) {
    grid-row: 2 / 3;
}

#S4P4 .module-block .module-content div[role="footer"] div {
    justify-content: end;
    align-items: end;
}

#S4P4 .module-block .module-content div[role="body"] div[role="header"] span {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media (min-width: 1000px) {
    #S4P4 .module-block {
        --S4P4-width: 360px;
        width: calc((100vw - var(--S4P4-width)) / 4);
    }
}

@media (min-width: 2000px) {
    #S4P4 .module-block {
        --S4P4-width: 370px;
        width: calc((100vw - var(--S4P4-width)) / 6);
    }
}

#S4P9 {
    gap: 12px;
}