@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    @apply bg-light dark:bg-dark;
}

::-webkit-scrollbar-thumb {
    @apply bg-slate-300 dark:bg-slate-700;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400 dark:bg-slate-600;
}

*:not(div, .unthemed, .text) {
    @apply bg-light text-dark stroke-dark dark:bg-dark dark:text-light dark:stroke-light;
}

header[role="app-region"],
main[role="body-container"] {
    @apply w-full;
}

.flexing {
    @apply justify-center content-center items-center gap-3;
}

.block-text {
    @apply block;
}

div[role="form-wrapper"] .welcome-note {
    @apply text-xl font-black self-start;
}

div[role="form-wrapper"] .footer-note {
    @apply text-xs self-start;
}

.rounded-image {
    @apply overflow-hidden rounded-full bg-gray-200 dark:bg-slate-700;
}

.rounded-image .image-wrapper img {
    @apply w-full h-full object-cover;
}

.image-wrapper {
    @apply w-full h-full p-3 bg-gray-300 dark:bg-slate-500;
}

/* 
p#loading-text {
    @apply animate-pulse duration-100 delay-100;
} */

[type="button"] {
    @apply min-w-[100px] border py-1 px-5 rounded-full text-sm cursor-pointer ease-out active:opacity-80;
}

[type="button"]:disabled,
[type="button"].disabled {
    @apply pointer-events-none opacity-50;
}

[type="button"][role="primary"] {
    @apply bg-primary border-primary text-light;
}

[type="button"][role="secondary"] {
    @apply border-secondary hover:text-dark hover:bg-gray-100 hover:dark:text-white hover:dark:bg-gray-700;
}

.toggled[type="button"][role="secondary"] {
    @apply bg-gray-100 dark:bg-gray-600;
}

.toggled[type="button"][role="secondary"] svg {
    @apply fill-dark dark:fill-light;
}

[type="button"][role="danger"] {
    @apply border-danger text-danger hover:text-white hover:bg-danger;
}

[type="button"]#profile {
    @apply pl-1;
}

input[type="text"],
input[type="password"],
textarea.input {
    @apply border rounded-full py-1 px-2 border-secondary bg-transparent focus:border-primary;
}

input[check="error"] {
    @apply border-danger;
}

input[check="ok"] {
    @apply border-success;
}

input[name="username"],
input[name="password"] {
    @apply text-center lowercase;
}

input[type="range"] {
    -webkit-appearance: none;
    @apply rounded-full h-[6px] outline-none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    @apply bg-primary h-3 w-3 rounded-full cursor-pointer;
}

input[type="range"].display-only::-webkit-slider-thumb {
    @apply hidden;
}

div.checkbox {
    @apply bg-gray-200 ring-0 peer-focus:outline-none rounded-full dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600;
}

a {
    @apply text-primary active:opacity-80;
}

nav {
    @apply h-full shadow-md dark:shadow-slate-700;
}

.unavailability:empty::after {
    content: "no event available yet";
    @apply text-xs font-semibold italic opacity-30 lowercase;
}

.ui-component {
    @apply w-fit h-fit rounded-md;
}

.date-box {
    @apply w-fit h-fit rounded-md py-1 px-4 text-center aspect-square bg-slate-200 dark:bg-slate-700;
}

.date-box span:nth-child(1) {
    @apply block-text font-black text-lg tracking-widest;
}

.date-box span:nth-child(2) {
    @apply block-text font-normal text-2xs opacity-70 capitalize;
}

#account-indicator {
    @apply block absolute w-3 h-3 border-2 border-light dark:border-dark rounded-full right-3 bottom-2 transition-[background];
}

#account-indicator[target="normal"] {
    @apply bg-green-500;
}

#account-indicator[target="attention"] {
    @apply bg-blue-500;
}

#account-indicator[target="critical"] {
    @apply bg-amber-500;
}

#account-indicator[target="danger"] {
    @apply bg-red-500;
}

div[role="tooltip"] {
    @apply absolute z-50 inline-block p-2 text-xs font-semibold rounded-full opacity-90 shadow-sm transition-opacity duration-300 bg-slate-200 shadow-gray-200 dark:bg-gray-700 dark:shadow-gray-700;
}

#S4P1 .assignment-block {
    @apply block h-full overflow-hidden rounded-xl border border-gray-300 dark:border-gray-600;
}

#S4P1 .assignment-block.submission-late {
    @apply animate-pulse border-danger hover:animate-none;
}

.assignment-block .backdrop,
.module-block .backdrop {
    background: linear-gradient(120deg, #5668e1 0%, #d54241 100%);
    @apply absolute rounded-xl w-full h-full opacity-10 z-10;
}

#S4P1 .assignment-block[in="attention"] .backdrop {
    background: rgb(96, 165, 250);
    @apply opacity-10;
}

#S4P1 .assignment-block[in="critical"] .backdrop {
    background: rgb(251, 191, 36);
    @apply opacity-10;
}

#S4P1 .assignment-block[in="danger"] .backdrop {
    background: rgb(248, 113, 113);
    @apply opacity-10;
}

#S4P1 .assignment-block[in="attention"] .count-down span,
div[role="side-panel"] .count-down[in="attention"] span {
    @apply text-blue-400 font-semibold animate-pulse;
}

#S4P1 .assignment-block[in="critical"] .count-down span,
div[role="side-panel"] .count-down[in="critical"] span {
    @apply text-amber-400 font-semibold animate-pulse;
}

#S4P1 .assignment-block[in="danger"] .count-down span,
div[role="side-panel"] .count-down[in="danger"] span {
    @apply text-red-400 font-semibold animate-pulse;
}

.assignment-block p[name="order"],
.module-block p[name="credit"] {
    @apply font-black text-7xl block absolute opacity-10 right-3 top-3;
}

.assignment-block .assignment-content {
    @apply grid relative h-full gap-3 p-2 z-20;
}

.assignment-content [role="body"] {
    @apply grid grid-rows-[fit-content(48px)_1fr] max-w-full overflow-hidden gap-3;
}

.assignment-content [role="body"] div,
.module-content [role="body"] div {
    @apply grid-cols-[fit-content(48px)_1fr];
}

.assignment-content .description {
    @apply p-0 text-sm overflow-auto block opacity-75 text-justify rounded-none resize-none border-none ring-0 outline-none select-none cursor-context-menu;
}

.assignment-content div[role="header"] {
    @apply block overflow-hidden w-full capitalize;
}

.assignment-content div[role="header"] .assignment-title {
    @apply truncate w-full text-lg;
}

.assignment-content div[role="header"] .assignment-data {
    @apply truncate w-full text-sm;
}

.assignment-content [role="footer"] {
    @apply grid grid-cols-[1fr_1fr];
}

.assignment-content [role="footer"] .chart-container:not(:empty) {
    @apply w-fit h-16 -mt-3 -ml-3;
}

.assignment-block[name="new-assignment"],
.module-block[name="new-module"] {
    @apply border-dashed;
}

.module-content [role="body"] .module-data {
    @apply grid-cols-4;
}

.module-content [role="body"] .module-data .data-box {
    @apply flex-col gap-[6px];
}

.module-data .data-box .title {
    @apply text-xs font-semibold;
}

.module-data .data-box .sub-title {
    @apply text-2xs opacity-70 font-semibold uppercase;
}

.data-box .color-code {
    @apply w-4 h-4 mb-[1px] rounded-full;
}

fieldset {
    @apply py-3 overflow-hidden border-t border-gray-300 dark:border-gray-500;
}

fieldset legend {
    @apply pr-3 uppercase font-semibold text-xs tracking-widest text-gray-400;
}

@media (min-height: 700px) {
    div[role="side-panel"] .ui-component:last-child {
        @apply block;
    }
}

#S4P4 .module-block {
    @apply block h-full overflow-hidden rounded-xl border border-gray-300 dark:border-gray-600;
}

.module-block .module-content {
    @apply grid relative h-full gap-3 p-2 z-20;
}

.module-content [role="body"] {
    @apply grid grid-rows-[1fr_1fr] max-w-full overflow-hidden gap-3;
}

.module-content div[role="header"] {
    @apply block overflow-hidden w-full capitalize;
}

.module-content [role="footer"] {
    @apply grid grid-cols-1;
}

.page[name="alertify"]#S4P5 table[name="alertify-connection"] {
    @apply w-full border-separate table-auto;
}

.page[name="alertify"]#S4P5 table[name="alertify-connection"] tr {
    @apply mb-2;
}

#S4P5 table[name="alertify-connection"] tbody tr th {
    @apply inline-block w-2/6 opacity-70 bg-gray-200 dark:bg-gray-700 p-2 rounded-l-md font-medium text-sm text-start;
}

#S4P5 table[name="alertify-connection"] tbody tr td {
    @apply inline-flex w-3/5 bg-gray-100 dark:bg-gray-600 p-2 rounded-r-md font-light text-sm;
}

#S4P6 .view-box {
    @apply grid grid-cols-2;
}

#S4P6 .view-box .view-container {
    @apply grid grid-cols-[25%_70%];
}

#S4P6 .view-box .view-container p {
    @apply text-xs text-justify;
}

@media (max-width: 1200px) {
    #S4P6 .view-box {
        @apply block max-h-[180px] overflow-auto;
    }

    #S4P6 .view-box .view-container {
        @apply grid grid-cols-[15%_80%] mb-3;
    }

    #S4P6 .view-box .view-container p {
        @apply text-xs text-justify;
    }
}

div[role="side-panel"] .count-down {
    @apply text-base;
}

div[role="side-panel"] .count-down span:not(:first-child) {
    @apply pl-1;
}

.popup-block {
    @apply fixed top-0 left-0 right-0 z-50 p-4 overflow-x-hidden overflow-y-auto md:inset-0 md:h-full;
}

.popup-wrapper {
    @apply relative w-full h-full max-w-md md:h-auto;
}

.popup-backdrop {
    @apply relative bg-white rounded-lg shadow dark:bg-gray-700;
}

.popup-block h3 {
    @apply mb-5 text-sm font-normal text-gray-500 dark:text-gray-400;
}

.popup-block:not(#assignment-modal, #module-modal) svg {
    @apply mx-auto mb-4 text-gray-400 w-14 h-14 dark:text-gray-200;
}

.assignmentmodal-wrapper, .modulemodal-wrapper {
    @apply relative w-full h-full max-w-md md:h-auto;
}

.assignmentmodal-container, .modulemodal-container {
    @apply relative bg-white rounded-lg shadow dark:bg-gray-700;
}

.input-block {
    @apply flex flexing flex-col mb-3;
}

.input-heading {
    @apply text-xs font-bold my-2 text-left w-full;
}

.input-block div {
    @apply relative max-w-sm text-xs;
}

select {
    @apply p-3 outline-none appearance-none bg-transparent;
}

.assignmentmodal-container textarea {
    @apply w-full text-xs mb-3 resize-none;
}

input.datepicker-element {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

input.datepicker-element.datepicker-input {
    @apply rounded-full border-dark border dark:border-gray-500;
}
